name: Package

permissions:
  contents: write

on:
  push:
    branches: main

jobs:
  release:
    runs-on: ubuntu-latest
    if: "contains(github.event.head_commit.message, '[')"
    
    steps:
      - name: Install Checkout
        uses: actions/checkout@v1
      
      - name: Install Setup SP
        uses: rumblefrog/setup-sp@master
        with:
          version: '1.11.x'
      
      - name: Install Misc
        run: |
          bash scripts/setup.sh
          bash scripts/optional.sh
        working-directory: ./
      
      - name: Full Compile
        run: bash compile.sh
        working-directory: ${{ env.SCRIPTS_PATH }}
      
      - name: Setup Package
        run: bash scripts/package.sh
      
      - name: Package Full
        uses: montudor/action-zip@v1
        if: "contains(github.event.head_commit.message, '[M]')"
        with:
          args: zip -qq -r New-Install-Package-${{env.PLUGIN_VERSION}}.${{env.PLUGIN_VERSION_REVISION}}.zip custom/ff2r_defaults
      
      - name: Package Update
        uses: montudor/action-zip@v1
        if: "contains(github.event.head_commit.message, '[M]')"
        with:
          args: zip -qq -r Update-Package-${{env.PLUGIN_VERSION}}.${{env.PLUGIN_VERSION_REVISION}}.zip update
      
      - name: Package Epic Scout
        uses: montudor/action-zip@v1
        if: "contains(github.event.head_commit.message, '[E]')"
        with:
          args: zip -qq -r Epic-Scout-${{env.PLUGIN_VERSION}}.${{env.PLUGIN_VERSION_REVISION}}.zip custom/epic_scout
      
      - name: Release
        uses: softprops/action-gh-release@master
        with:
          tag_name: ${{env.PLUGIN_VERSION}}.${{env.PLUGIN_VERSION_REVISION}}
          files: |
            New-Install-Package-${{env.PLUGIN_VERSION}}.${{env.PLUGIN_VERSION_REVISION}}.zip
            Update-Package-${{env.PLUGIN_VERSION}}.${{env.PLUGIN_VERSION_REVISION}}.zip
            Epic-Scout-${{env.PLUGIN_VERSION}}.${{env.PLUGIN_VERSION_REVISION}}.zip
  
  nonrelease:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[')"
    
    steps:
      - name: Install Checkout
        uses: actions/checkout@v1
      
      - name: Install Setup SP
        uses: rumblefrog/setup-sp@master
        with:
          version: '1.11.x'
      
      - name: Install Misc
        run: |
          bash scripts/setup.sh
          bash scripts/optional.sh
        working-directory: ./
      
      - name: Full Compile
        run: bash compile.sh
        working-directory: ${{ env.SCRIPTS_PATH }}
      
      - name: Setup Package
        run: bash scripts/package.sh
      
      - name: Upload Full
        uses: actions/upload-artifact@master
        with:
          name: New-Install-Package-${{env.PLUGIN_VERSION}}.${{env.PLUGIN_VERSION_REVISION}}
          path: ./custom/ff2r_defaults
      
      - name: Upload Update
        uses: actions/upload-artifact@master
        with:
          name: Update-Package-${{env.PLUGIN_VERSION}}.${{env.PLUGIN_VERSION_REVISION}}
          path: ./update
      
      - name: Upload Epic Scout
        uses: actions/upload-artifact@master
        with:
          name: Epic-Scout-${{env.PLUGIN_VERSION}}.${{env.PLUGIN_VERSION_REVISION}}
          path: ./custom/epic_scout
